@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --slate-tyler: #727577;
    --bg-color: #1F1F1F;
    --text-warm: #ebdbbe;
}

html{
    color: var(--text-warm);
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 20px 0 20px;
}

.header {
    position: fixed;
    background: rgb(31,31,31);
    background: linear-gradient(180deg, rgba(31,31,31,1) 66%, rgba(0,0,0,0) 100%);
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a{
    text-decoration: none;
    position: relative;
    top: -20px;
}

.logo{
    position: relative;
    font-size: 1.0rem;    
    color: var(--text-warm);
    background: var(--bg-color);
    font-weight: 900;
    z-index: 100;
}

.navbar {
    position: relative; 
    display: flex;
}

.navbar a {
    color: var(--text-warm);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .4s;
    z-index: 99;
}

.navbar a:hover, .navbar a.active{
    color: var(--slate-tyler);
}

#menu-icon{
    font-size: 2.6rem;
    cursor: pointer;
    display: none;
    position: relative;
    top: -15px;

}


.container .rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container .rows .columns {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.container .rows .columns img {
    width: 100%;
    margin: 4px;
    padding: .4%;
    border-radius: 15px;
    background-color: slategray;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave .shape-fill {
    fill: #1F1F1F;
}

@media (max-width: 1100px){
    .header {
        padding: 2rem 4%;
    }
}

@media only screen and (max-width: 952px){
    
    #menu-icon {
        color: var(--text-warm);;
        display: block;
    }

    .header {
    background: rgb(31,31,31);
    }

    .navbar {
        position: absolute;
        flex-direction: column;
        top: 70%;
        left:-100%;
        width: 100%;
        padding:  1rem 4%;
        background-color: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .2s ease;
    }

    .navbar a {
        display: block;
        font-size: 1rem;
        margin: 1rem 0;
        color: transparent;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a{
        transform: translateX(0);
        transition-delay: .3s;
        color: var(--text-warm);
    }

    .navbar.active {
        left: 0;
        transition: .2s ease;
    }

    .container .rows {
        flex-direction: column;
        width: auto;
    }

    .container .rows .columns {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (max-width:642px){
    .container .heading{
        width: 100%;
    }
    .container .heading h3{
        font-size: 1rem;
    }
    .container span {
        font-size: 1.3em;
    }
}